@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray-medium);
    height: 100vh;
    display: grid;
    place-items: center;
}
:root{
    --main-font : Roboto;
    --tomato : hsl(4, 100%, 67%);
    --gray-dark:hsl(234, 29%, 20%);
    --gray-medium:hsl(235, 18%, 26%);                 
    --margin-gap: 0px 0px 20px 0;
    --gray: hsl(231, 7%, 60%);
    --gradient : linear-gradient(to right, rgb(255, 72, 72), var(--tomato));
}

/* Commom Styles */
h1{
    color: var(--gray-dark);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 3.2em;
}
p{
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--gray-medium);
}
.img1{
    max-height: 500px;
}
.img2{
    display: none;
}

/* Main sec  */
main{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

/* Left Side  */
.left-side{
    max-width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}
.title>h1{
    margin: var(--margin-gap);
}

/* Points */
.points{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.p1{
    display: flex;
    gap: 5px;
    align-items:start;
    line-height: 1em;
}
.p1>img{
    width: 16px;
    height: 16px;
}

/* Email and button */

form{
    margin-top: 10px;
    color: var(--gray-dark);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: bold;
}
form>input[type=email], button{
    width: 100%;
    border: none;
    border-radius: 6px;
}

form>input[type=email]{
    padding: 25px 15px;
    border: 1px solid var(--gray);
    margin-top: 10px; 
    height: 30px;
    color: var(--gray-medium);
}

/* Button  */
button{
    color: #fff;
    background-color: var(--gray-dark);
    font-weight: bold;
    padding: 18px 0px;
    cursor: pointer;
    transition: ease 0.3s;
}

button:hover{
    background-image: var(--gradient);
    box-shadow: 0px 10px 25px var(--tomato);
}
@media screen and (max-width:600px) {
    
    main{
        flex-direction: column;
        border-radius: 0px;
        padding: 0;
    }
    .img1{
        display: none;
    }
    .img2{
        display: block;
        width: 100%;
    }

    h1{
        font-size: 2.5em;
    }
    p{
        line-height: 1.5em;
    }
    .p1>img{
        position: relative;
        top: 3px;
    }

    
}


